.badge {
    position: relative;
}

.badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -2px;
    right: 0px;
    background: #e84337;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #e84337;
}
