<template>
<require from="./header.css"></require>
      <nav class="nav is-centered flex">
          <div class="nav-left">
              <a>
               <i class="fa fa-bars"></i>
               <span> MENU</span>
            </a>
        </div>
         <div class="nav-center flex">
             <img src="../images/logo.svg" />
         </div>
             <div class="nav-right flex is-flex-mobile is-vertical end"  >
             <div class="badge" data-badge="" >
                 <a>
                 <img   class="profile-img image is-64x64 "
                  src="../images/profile.jpg"  />
                </a>
             </div>
        </div>
      </nav>
</template>
